body {
background-image: url("https://www.esquireme.com/sites/default/files/styles/full_img/public/images/2017/05/29/rock_paper_scissors__2x.png?itok=EB8fRWP9");
background-color: black;
background-repeat: no-repeat;
text-align: center;
font-family: "Verdana", sans-serif;
width: 800px;
}